<manifest xmls:android:"http://schemas.android.com/apk/res/android"
	android:versionCode="1"
	android:versionName="1.0.0"
	android:compileSdkVersion="29"
	android:compileSdkVersionCodename="10"
	package="com.king.easychat"
	platformBuildVersionCode="29"
	platformBuildVersionName="10">
	<uses-sdk
		android:minSdkVersion="16"
		android:targetSdkVersion="29">
	</uses-sdk>
	<uses-permission
		android:name="android.permission.INTERNET">
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE">
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_EXTERNAL_STORAGE">
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE">
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_WIFI_STATE">
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_PHONE_STATE">
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_COARSE_LOCATION">
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION">
	</uses-permission>
	<uses-permission
		android:name="android.permission.CAMERA">
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_LOGS">
	</uses-permission>
	<uses-permission
		android:name="android.permission.REQUEST_INSTALL_PACKAGES">
	</uses-permission>
	<uses-permission
		android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS">
	</uses-permission>
	<uses-permission
		android:name="android.permission.VIBRATE">
	</uses-permission>
	<uses-permission
		android:name="android.permission.FLASHLIGHT">
	</uses-permission>
	<application
		android:theme="@7F110006"
		android:label="@7F100029"
		android:icon="@7F0D0006"
		android:name="com.king.easychat.App"
		android:debuggable="true"
		android:allowBackup="true"
		android:supportsRtl="true"
		android:networkSecurityConfig="@7F130001"
		android:roundIcon="@7F0D0008"
		android:appComponentFactory="androidx.core.app.CoreComponentFactory"
		android:requestLegacyExternalStorage="true">
		<activity
			android:theme="@7F1100F2"
			android:name="com.king.easychat.app.splash.SplashActivity"
			android:screenOrientation="1">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN">
				</action>
				<category
					android:name="android.intent.category.LAUNCHER">
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F1100C9"
			android:name="com.king.easychat.app.home.HomeActivity"
			android:launchMode="2"
			android:screenOrientation="1">
		</activity>
		<activity
			android:theme="@7F110191"
			android:name="com.king.easychat.app.account.LoginActivity"
			android:launchMode="2"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000024">
		</activity>
		<activity
			android:theme="@7F110191"
			android:name="com.king.easychat.app.account.RegisterActivity"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000024">
		</activity>
		<activity
			android:name="com.king.easychat.app.account.UpdatePwdActivity"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000024">
		</activity>
		<activity
			android:name="com.king.easychat.app.chat.ChatActivity"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000012">
		</activity>
		<activity
			android:name="com.king.easychat.app.chat.GroupChatActivity"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000012">
		</activity>
		<activity
			android:theme="@7F1100C5"
			android:name="com.king.easychat.app.photo.PhotoViewActivity"
			android:screenOrientation="1">
		</activity>
		<activity
			android:name="com.king.easychat.app.me.user.UserInfoActivity"
			android:screenOrientation="1">
		</activity>
		<activity
			android:name="com.king.easychat.app.me.user.ChangeUserInfoActivity"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000024">
		</activity>
		<activity
			android:name="com.king.easychat.app.me.timetable.TimeTableActivity"
			android:screenOrientation="1">
		</activity>
		<activity
			android:name="com.king.easychat.app.me.schoolcommunity.SchoolCommunityAcitvity"
			android:screenOrientation="1">
		</activity>
		<activity
			android:name="com.king.easychat.app.me.schoolcommunity.SchoolCommunityReleaseActivity"
			android:screenOrientation="1">
		</activity>
		<activity
			android:theme="@7F1100CA"
			android:name="com.lzy.imagepicker.ui.ImageGridActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000480">
		</activity>
		<activity
			android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
			android:screenOrientation="1">
		</activity>
		<activity
			android:name="com.king.easychat.app.friend.UserProfileActivity"
			android:screenOrientation="1">
		</activity>
		<activity
			android:name="com.king.easychat.app.group.GroupProfileActivity"
			android:screenOrientation="1">
		</activity>
		<activity
			android:name="com.king.easychat.app.code.CodeActivity"
			android:screenOrientation="1">
		</activity>
		<activity
			android:name="com.king.easychat.app.code.ScanCodeActivity"
			android:screenOrientation="1">
		</activity>
		<activity
			android:theme="@7F110191"
			android:name="com.king.easychat.app.search.SearchActivity"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000024">
		</activity>
		<activity
			android:name="com.king.easychat.app.group.GroupMemberActivity"
			android:screenOrientation="1">
		</activity>
		<activity
			android:name="com.king.easychat.app.web.WebActivity"
			android:screenOrientation="1">
		</activity>
		<service
			android:name="com.king.easychat.app.service.HeartBeatService">
		</service>
		<activity
			android:theme="@7F1100C4"
			android:name="com.king.base.baseurlmanager.BaseUrlManagerActivity"
			android:screenOrientation="1">
		</activity>
		<activity
			android:theme="@7F1100CD"
			android:name="com.zhihu.matisse.ui.MatisseActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000480">
		</activity>
		<activity
			android:theme="@7F11015C"
			android:name="com.yalantis.ucrop.UCropActivity"
			android:screenOrientation="1">
		</activity>
		<meta-data
			android:name="com.king.easychat.config.ConfigModule"
			android:value="FrameConfigModule">
		</meta-data>
		<meta-data
			android:name="android.max_aspect"
			android:value="2.4">
		</meta-data>
		<provider
			android:name="com.amitshekhar.debug.DebugDBInitProvider"
			android:enabled="true"
			android:exported="false"
			android:authorities="com.king.easychat.DebugDBInitProvider">
		</provider>
		<activity
			android:theme="@android:01030010"
			android:name="com.lzy.ninegrid.preview.ImagePreviewActivity">
		</activity>
		<activity
			android:name="com.lzy.imagepicker.ui.ImageBaseActivity">
		</activity>
		<activity
			android:theme="@7F1100CA"
			android:name="com.lzy.imagepicker.ui.ImageCropActivity"
			android:configChanges="0x00000480"
			android:hardwareAccelerated="false">
		</activity>
		<activity
			android:theme="@7F1100CB"
			android:name="com.lzy.imagepicker.ui.ImagePreviewActivity"
			android:configChanges="0x00000480">
		</activity>
		<provider
			android:name="com.lzy.imagepicker.ImagePickerProvider"
			android:exported="false"
			android:authorities="com.king.easychat.provider"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F130002">
			</meta-data>
		</provider>
		<activity
			android:name="com.zhihu.matisse.internal.ui.AlbumPreviewActivity">
		</activity>
		<activity
			android:name="com.zhihu.matisse.internal.ui.SelectedPreviewActivity">
		</activity>
		<service
			android:name="com.king.app.updater.service.DownloadService">
		</service>
		<provider
			android:name="com.king.app.updater.provider.AppUpdaterFileProvider"
			android:exported="false"
			android:authorities="com.king.easychat.fileProvider"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F130000">
			</meta-data>
		</provider>
		<activity
			android:theme="@android:0103000F"
			android:name="com.tencent.bugly.beta.ui.BetaActivity"
			android:configChanges="0x000004A4">
		</activity>
		<provider
			android:name="com.tencent.bugly.beta.utils.BuglyFileProvider"
			android:exported="false"
			android:authorities="com.king.easychat.fileProvider"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F130002">
			</meta-data>
		</provider>
		<service
			android:name="com.tencent.bugly.beta.tinker.TinkerResultService"
			android:exported="false">
		</service>
		<service
			android:name="com.tencent.tinker.lib.service.TinkerPatchService$IntentServiceRunner"
			android:exported="false"
			android:process=":patch">
		</service>
		<service
			android:name="com.tencent.tinker.lib.service.TinkerPatchService$IntentServiceRunner$InnerService"
			android:exported="false"
			android:process=":patch">
		</service>
		<service
			android:name="com.tencent.tinker.lib.service.TinkerPatchService$JobServiceRunner"
			android:permission="android.permission.BIND_JOB_SERVICE"
			android:exported="false"
			android:process=":patch">
		</service>
		<service
			android:name="com.tencent.tinker.lib.service.DefaultTinkerResultService"
			android:exported="false">
		</service>
		<provider
			android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"
			android:exported="false"
			android:multiprocess="true"
			android:authorities="com.king.easychat.lifecycle-process">
		</provider>
		<service
			android:name="androidx.room.MultiInstanceInvalidationService"
			android:exported="false">
		</service>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_00">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_01">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_02">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_03">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_04">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_05">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_06">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_07">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_08">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_09">
		</activity>
		<activity
			android:theme="@android:0103000F"
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_00_T">
		</activity>
		<activity
			android:theme="@android:0103000F"
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_01_T">
		</activity>
		<activity
			android:theme="@android:0103000F"
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$STDStub_02_T">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_00"
			android:launchMode="1">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_01"
			android:launchMode="1">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_02"
			android:launchMode="1">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_03"
			android:launchMode="1">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_04"
			android:launchMode="1">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_05"
			android:launchMode="1">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_06"
			android:launchMode="1">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_07"
			android:launchMode="1">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_08"
			android:launchMode="1">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_09"
			android:launchMode="1">
		</activity>
		<activity
			android:theme="@android:0103000F"
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_00_T"
			android:launchMode="1">
		</activity>
		<activity
			android:theme="@android:0103000F"
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_01_T"
			android:launchMode="1">
		</activity>
		<activity
			android:theme="@android:0103000F"
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTStub_02_T"
			android:launchMode="1">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_00"
			android:launchMode="2">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_01"
			android:launchMode="2">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_02"
			android:launchMode="2">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_03"
			android:launchMode="2">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_04"
			android:launchMode="2">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_05"
			android:launchMode="2">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_06"
			android:launchMode="2">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_07"
			android:launchMode="2">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_08"
			android:launchMode="2">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_09"
			android:launchMode="2">
		</activity>
		<activity
			android:theme="@android:0103000F"
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_00_T"
			android:launchMode="2">
		</activity>
		<activity
			android:theme="@android:0103000F"
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_01_T"
			android:launchMode="2">
		</activity>
		<activity
			android:theme="@android:0103000F"
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SGTKStub_02_T"
			android:launchMode="2">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_00"
			android:launchMode="3">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_01"
			android:launchMode="3">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_02"
			android:launchMode="3">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_03"
			android:launchMode="3">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_04"
			android:launchMode="3">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_05"
			android:launchMode="3">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_06"
			android:launchMode="3">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_07"
			android:launchMode="3">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_08"
			android:launchMode="3">
		</activity>
		<activity
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_09"
			android:launchMode="3">
		</activity>
		<activity
			android:theme="@android:0103000F"
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_00_T"
			android:launchMode="3">
		</activity>
		<activity
			android:theme="@android:0103000F"
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_01_T"
			android:launchMode="3">
		</activity>
		<activity
			android:theme="@android:0103000F"
			android:name="com.tencent.tinker.loader.hotplug.ActivityStubs$SIStub_02_T"
			android:launchMode="3">
		</activity>
		<meta-data
			android:name="tinker_version"
			android:value="1.9.9">
		</meta-data>
	</application>
</manifest>
